@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #2688dd;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 15px;
}

input:focus {
    border-color: #5b08a7;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 15px;
}

.btn-block {
    width: 100%;
    background-color: #2C64C6;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #0ab0ec;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 100%;
    position: relative;
    z-index: 1;
    background: #2688dd;
    background-image: url(/public/logo.png);
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(185, 38, 38, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #ffffff;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 130px;
    background-color: #2C64C6;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
    color: white;
    font-weight: bold;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 0; /* Reduced left and right padding to 0 */
    background-color: #2A5890;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Add this property to make it fill the entire horizontal space */
}


#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.text-per {
    color: #f3f3f3;
    font-size: 20apx;
    padding-top: 100;
    text-align: center;
    margin: 15px 0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.username-container {
    font-size: x-large;
    margin-left: 20px; 
  }
.icon-text-container {
display: flex;
flex-direction: column;
align-items: center;
}

.icon-text-container > svg {
/* Add any additional styling for the icon if needed */
margin-bottom: 4px; /* Adjust as needed to control the space between icon and text */
}
/* Add these styles to your CSS or SASS file */

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
.search-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    text-align: center;
    height: 50px;
    align-items: right;
}
  
.search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
}
  
.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
  
.category {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    text-align: center;
}
  
.category:hover {
    background-color: #e0e0e0;
}
  
.category-icon {
    font-weight: bold;
    cursor: pointer;
    color: rgb(54, 72, 144);
}
.categories-heading {
    margin: 0;
    padding: 5px 0;
}

/* Books component */
.books-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
  
.books-heading {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}
  
.book-category {
    width: 20%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    text-align: left;
}
  
.book-category:hover {
    background-color: #3e397e;
}
  
.book-info {
    font-weight: normal;
    color: black;
}
.books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust the alignment as needed */
    gap: 10px; /* Adjust the gap between books */
  }
  
  .book-category {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: left;
    width: 20%; /* Adjust the width to control the number of books per row */
    margin-bottom: 20px; /* Adjust the margin as needed */
  }

  /* Notification CSS */
  .notification-container {
    text-align: left;
    margin: 20px;
  }
  
  .notification-heading {
    font-size: 24px;
    margin: 0;
  }
  
  .notification-box {
    width: 100%;
    padding: 10px;
    background-color: #2661c1;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notification-box p {
    margin: 0;
    font-weight: bold;
  }
  
  .btn-dismiss {
    outline: 0;
    background: #2470b7;
    border: 0;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .btn-dismiss:hover {
    background-color: #6292b0;
  }

  /* Profile CSS */

  /* Profile Component */
.profile-container {
    background-color: #2688dd;
    border: 1px solid #2688dd;
    border-radius: 4px;
    padding: 20px;  
    margin: 10px;
    text-align: left;
  }
  
  .profile-heading {
    font-size: 24px;
    margin: 0;
    padding: 20px;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .avatar-placeholder {
    font-size: 20px;
    color: #fff;
  }
  
  .user-info {
    flex: 1;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .user-info p {
    margin: 0;
    color: #666;
  }

  .profile-box {
    width: 100%;
    background-color: #2A5890;
    border: 1px solid #2688dd;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
  }
  .profile-box:hover {
    background-color: #2A5890;
    border: 1px solid #2A5890;
  }
  .icon-text-container-profile {
    display: flex;
    align-items: center;
  }
  
  .icon-text-container-profile svg {
    font-size: 18px;
    vertical-align: middle; /* Align the icon vertically to the middle of the text */
    margin-right: 10px;
  }
  
  
  
  
  